@using CodeHealthHub.Migrations
@using CodeHealthHub.Models
@using System.ComponentModel.DataAnnotations
@using System.Diagnostics.Contracts
@using System.Text.Json
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@inject IHttpClientFactory HttpFactory
@inject NavigationManager navigationManager
@inject IJSRuntime JSRuntime


<EditForm Model="Model" OnValidSubmit="Submit" FormName="AddInstanceForm">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Instance details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <label for="instanceName" class="form-label">
            Instance name
        </label>
        <div class="input-group mb-3">
            <InputText @bind-Value="Model!.Name" type="text" class="form-control" id="instanceName" 
            placeholder="Local Instance 1" aria-label="Instance name" required />
        </div>

        <label for="scheme" class="form-label">
            Scheme
        </label>
        <div class="input-group mb-3">
            <InputText @bind-Value="Model!.Scheme" type="text" class="form-control" id="scheme" 
            placeholder="https" aria-label="Scheme" required />
            <span class="input-group-text" id="basic-addon2">&colon;&#47;&#47;</span>
        </div>

        <label for="host" class="form-label">
            Host
        </label>
        <div class="input-group mb-3">
            <InputText @bind-Value="Model!.Host" type="text" class="form-control" id="host" 
            placeholder="localhost" aria-label="Host" required />
        </div>

        <label for="port" class="form-label">
            Port
        </label>
        <div class="input-group mb-3">
            <InputNumber @bind-Value="Model!.Port" type="number" class="form-control" 
            placeholder="9000" aria-label="Port" required />
        </div>

        <label for="authToken" class="form-label">
            Authentication Token
        </label>
        <div class="input-group mb-3">
            <InputText @bind-Value="Model!.AuthToken" type="text" class="form-control" 
            placeholder="squ_......" aria-label="AuthToken" required />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</EditForm>

@code {
    [SupplyParameterFromForm]
    private SonarqubeInstanceFormModel? Model { get; set; }
    [Parameter]
    public SonarQubeInstance? Instance { get; set; }

    protected override void OnInitialized() => Model ??= new();

    protected override void OnParametersSet()
    {
        if (Instance != null)
        {
            Model!.Id = Instance.Id;
            Model.Name = Instance.Name;
            Model.Scheme = Instance.Scheme;
            Model.Host = Instance.Host;
            Model.Port = Instance.Port;
            Model.AuthToken = Instance.AuthToken;
        }
    }

    protected async void Submit() 
    {
        Debug.WriteLine($"Name = {Model?.Name}");

        var client = HttpFactory.CreateClient("LocalApi");
        var addInstanceURL = "";

        try
        {
            if (Instance != null) 
            {
                addInstanceURL = "api/instances/edit";
                var response = await client.PostAsJsonAsync<string>(addInstanceURL, JsonSerializer.Serialize<SonarqubeInstanceFormModel>(Model!));
                
                if (response.IsSuccessStatusCode) 
                {
                    Debug.WriteLine($"Instance {Instance.Name} edited successfully.");
                    navigationManager.NavigateTo(navigationManager.Uri, forceLoad: true);
                }
                else
                {
                    await JSRuntime.InvokeVoidAsync("alert", "Error: " + response.ReasonPhrase);
                }
            }
            else 
            {
                addInstanceURL = "api/instances/add";
                var response = await client.PostAsJsonAsync<string>(addInstanceURL, JsonSerializer.Serialize<SonarqubeInstanceFormModel>(Model!));
                
                if (response.IsSuccessStatusCode) 
                {
                    Debug.WriteLine("New instance added successfully");
                    navigationManager.NavigateTo(navigationManager.Uri, forceLoad: true);
                }
                else
                {
                    await JSRuntime.InvokeVoidAsync("alert", "Error: " + response.ReasonPhrase);
                }
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error submitting modal: {ex.Message}");
            navigationManager.NavigateTo("/Error");
        }
    }

    public class SonarqubeInstanceFormModel() 
    {
        [Required]
        public int Id { get; set; }
        
        [Required]
        public string? Name { get; set; }

        [Required]
        public string? Scheme { get; set; }

        [Required]
        public string? Host { get; set; }

        [Required]
        [Range(0, 65535, ErrorMessage = "Port number must be between 0 to 65535")]
        public int? Port { get; set; }

        [Required]
        public string? AuthToken { get; set; }
    }
}