<span class="bi bi-info-circle fs-5 z-3 position-absolute start-0 top-0 py-1 px-2"
    data-bs-toggle="tooltip"
    data-bs-placement="bottom"
    data-bs-trigger="hover"
    title="@TooltipText">
</span>

@code {
    [Parameter]
    public string TooltipText { get; set; } = "Tooltip info text";
}
