.health-score {
    -webkit-text-stroke: 2px black;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0;
}

p[health-score="A"] {
    color: #39db3e; /* Green */
}

p[health-score="B"] {
    color: #d5ff1c; /* Yellow */
}

p[health-score="C"] {
    color: #ff9800; /* Orange */
}

p[health-score="D"] {
    color: #f44336; /* Red */
}

p[health-score="E"] {
    color: #790000; /* Dark Red */
}

p[health-score="N/A"] {
    color: #ffffff; /* White */
}