@using CodeHealthHub.Models

<div class="card-body">
    <h4 class="card-title">Overall Health Score</h4>
    <p class="card-text health-score" health-score="@overallHealthScore">@overallHealthScore</p>
</div>

@code {
    [Parameter]
    public List<ProjectScan> latestProjMeasures { get; set; } = new List<ProjectScan>();
    [Parameter]
    public List<double> weights { get; set; } = new List<double>();
    private string? overallHealthScore;

    public struct ProjectHealthScore
    {
        public int Vulnerability;
        public int Bugs;
        public int CodeSmells;
        public int SecHotspots;
    }

    protected override void OnParametersSet()
    {
        List<ProjectHealthScore>? allProjectHealthScores = new List<ProjectHealthScore>();

        foreach(ProjectScan projMeasures in latestProjMeasures)
        {
            List<Measure> measureList = projMeasures.Measures?? new List<Measure>();
            ProjectHealthScore phs = new ProjectHealthScore(){
                Vulnerability = (int)float.Parse(measureList.Find(m => m.Metric == "security_rating")?.Value ?? "0.0"),
                Bugs = (int)float.Parse(measureList.Find(m => m.Metric == "reliability_rating")?.Value ?? "0.0"),
                CodeSmells = (int)float.Parse(measureList.Find(m => m.Metric == "sqale_rating")?.Value ?? "0.0"),
                SecHotspots = (int)float.Parse(measureList.Find(m => m.Metric == "security_review_rating")?.Value ?? "0.0"),
            };
            allProjectHealthScores.Add(phs);
        }

        overallHealthScore = CalculateOverallHealthScore(allProjectHealthScores);
        StateHasChanged();
    }

    protected string CalculateOverallHealthScore(List<ProjectHealthScore> allProjectHealthScores)
    {
        List<double> listOfAvgPHS = new List<double>();
        @* List<double> weights = (from project in projects select project.Weight).ToList(); *@
        // for each project, sum up the health scores
        for(int i = 0; i < allProjectHealthScores.Count; i++)
        {
            ProjectHealthScore phs = allProjectHealthScores[i];
            double avgPHS = Math.Ceiling((double)
                (
                    phs.Vulnerability + 
                    phs.Bugs + 
                    phs.CodeSmells + 
                    phs.SecHotspots
                ) / 4);
            listOfAvgPHS.Add(avgPHS);
        }
        double sum = listOfAvgPHS.Zip(weights, (w, PHS) => w * PHS).Sum();
        double ohs = Math.Ceiling((1.0/(double)allProjectHealthScores.Count) * sum); // overall health score
        return TranslateToHealthScore(ohs);
    }

    protected string TranslateToHealthScore(double score)
    {
        string grade = "";
        switch(score)
        {
            case 5.0f:
                grade = "E";
                break;
            case 4.0f:
                grade = "D";
                break;
            case 3.0f:
                grade = "C";
                break;
            case 2.0f:
                grade = "B";
                break;
            case 1.0f:
                grade = "A";
                break;
            default:
                grade = "N/A";
                break;
        }
        return grade;
    }
}
