@inject IJSRuntime JS

<div class="card-body">
    <CardTooltip TooltipText="@tooltipText"/>
    <h5 class="card-title">
        Overall Health Score
    </h5>
    <p class="health-score" health-score="@overallHealthScore">@overallHealthScore</p>
</div>

@code {
    [Parameter]
    public List<ProjectScan> latestProjScans { get; set; } = new List<ProjectScan>();
    [Parameter]
    public List<double> weights { get; set; } = new List<double>();
    private string? overallHealthScore;
    private string tooltipText = "Overall Health Score is calculated based on the weighted average of individual project health scores. Each project's health score is determined by its ratings in Vulnerability, Bugs, Code Smells, and Security Hotspots.";
    

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("enableTooltips");
        }
    }

    protected override void OnParametersSet()
    {
        List<double>? allProjAvgHealthScores = new List<double>();

        foreach(ProjectScan projScan in latestProjScans)
        {
            double avgPHS = Utility.CalculateAverageProjectHealthScore(projScan);
            allProjAvgHealthScores.Add(avgPHS);
        }

        overallHealthScore = CalculateOverallHealthScore(allProjAvgHealthScores);
    }

    protected string CalculateOverallHealthScore(List<double> allProjAvgHealthScores)
    {
        double ohs = allProjAvgHealthScores
            .Zip(weights, (phs, w) => phs * w)
            .Sum();
        @* double ohs = Math.Round(sum / (double)allProjAvgHealthScores.Count); // overall health score *@

        return Utility.TranslateHealthScoreToGrade(ohs);
    }
}
