@using CodeHealthHub.Models

<div class="card-body">
    <h5 class="card-title">
        Issues
        <CardTooltip TooltipText="Test text"/>
    </h5>
    <p class="card-text">
        Total Count: @issuesCount <br />
        Total Effort: @effortTotal mins
    </p>
</div>

@code {
    [Parameter]
    public int? issuesCount { get; set; }
    [Parameter]
    public int? effortTotal { get; set; }
}
