@using CodeHealthHub.Models

<div class="p-2">
    @if(showProjectsTable)
    {
        <button type="button" class="btn btn-sm btn-outline-dark w-100" @onclick="ToggleProjectsTable">Hide Projects</button>
    }
    else
    {
        <button type="button" class="btn btn-sm btn-outline-dark w-100" @onclick="ToggleProjectsTable">Show Projects</button>
    }
</div>

@if (showProjectsTable)
{
    <div class="table-responsive p-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Project Name</th>
                    <th scope="col">Last Analysis Date</th>
                    <th scope="col">Weight</th>
                </tr>
            </thead>
            <tbody>
                @if (projects == null) 
                {
                    <p>Loading...</p>
                }
                else if (!projects.Any())
                {
                    <p>No project data found.</p>
                }
                else
                {
                    @foreach(SonarQubeProject project in projects)
                    {
                        <tr>
                            <td>@project.Name</td>
                            <td>@FormatDate(project.LastAnalysisDate)</td>
                            <td>@String.Format("{0:0.000}", project.Weight)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}


@code {
    private bool showProjectsTable = true; 
    [Parameter]
    public List<SonarQubeProject>? projects { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }

    protected void ToggleProjectsTable()
    {
        showProjectsTable = !showProjectsTable;
    }

    protected string FormatDate(string input)
    {
        var dto = DateTimeOffset.ParseExact(
            input,
            "yyyy-MM-dd'T'HH:mm:ssK",
            System.Globalization.CultureInfo.InvariantCulture
        );
        TimeZoneInfo sgZone = TimeZoneInfo.FindSystemTimeZoneById("Singapore Standard Time");
        DateTime sgTime = TimeZoneInfo.ConvertTime(dto.UtcDateTime, sgZone);
        string formatted = sgTime.ToString("dd MMM yyyy HH:mm:ss");
        return formatted;
    }
}
