@using CodeHealthHub.Components.Pages
@using CodeHealthHub.Models
@using Microsoft.AspNetCore.Components.QuickGrid

<div class="card-body">
    <CardTooltip TooltipText="@tooltipText"/>
    <h5 class="card-title">
        Security Vulnerable
    </h5>
    @if (topVulnProjects != null && topVulnProjects.Count() != 0)
    {
        int index = 0;
        <ol class="card-text list-group list-group-numbered">
            @while (index < topVulnProjects.Count() && index < 3)
            {
                var proj = topVulnProjects[index];
                var num = index + 1;
                <li class="list-group-item p-1">@proj.ProjName (@proj.Severity: @proj.VulnCount)</li>
                index++;
            }
        </ol>
    }
    else
    {
        <p class="fs-5">No vulnerable projects.</p>
    }
</div>

@code {
    [Parameter]
    public List<SonarQubeProject>? projects { get; set; }
    [Parameter]
    public List<ProjectIssue>? issues { get; set; }
    private List<ListItem> topVulnProjects = new();
    private string tooltipText = "This card highlights the top three projects with the highest number of security vulnerabilities, categorized by severity levels such as Blocker, Critical, Major, and Minor.";
    private string[] severities = ["BLOCKER", "CRITICAL", "MAJOR", "MINOR"]; //sorted by most to least severe

    class ListItem
    {
        public string ProjName { get; set; } = string.Empty;
        public string Severity { get; set; } = string.Empty;
        public int VulnCount { get; set; } = 0;
    }

    protected override void OnParametersSet()
    {
        if (issues!.Count() == 0 || projects!.Count() == 0) return;

        GetMostVulnProjs();
    }

    @* private void GetMostVulnProjs()
    {
        // Find any proj with blockers
        var projWithBlockers = GetProjWithSeverity("BLOCKER");
        if (projWithBlockers != null)
        {
            topVulnProjects.Add(projWithBlockers);
        }

        // Find any proj with criticals
        var projWithCriticals = GetProjWithSeverity("CRITICAL");
        if (projWithCriticals != null)
        {
            topVulnProjects.Add(projWithCriticals);
        }

        // Find any proj with majors
        var projWithMajors = GetProjWithSeverity("MAJOR");
        if (projWithMajors != null)
        {
            topVulnProjects.Add(projWithMajors);
        }

        // Find any proj with minors
        var projWithMinors = GetProjWithSeverity("MINOR");
        if (projWithMinors != null)
        {
            topVulnProjects.Add(projWithMinors);
        }
    } *@

    // finds projects with security vulnerabilities from highest to lowest severity,
    // and inserts into topVulnProjects list until there are 3 projects within it.
    private void GetMostVulnProjs() {
        ListItem? listItem;
        int index = 0;
        
        do {
            listItem = null; //reset variable
            listItem = GetProjWithSeverity(severities[index]);
            if (listItem != null)
            {
                topVulnProjects.Add(listItem);
            }
            else {
                index++;
            }
            if (topVulnProjects.Count() == 3) break;
        } while (listItem != null);
    }

    private ListItem? GetProjWithSeverity(string severity)
    {
        List<int>? projId = issues!
            .Where(i => i.Type == "VULNERABILITY" && i.Severity == severity)
            .GroupBy(i => i.SonarQubeProjectId)
            .OrderByDescending(g => g.Count())
            .Select(g => g.Key)
            .ToList();

        foreach (int Id in projId)
        {
            SonarQubeProject? proj = projects!.Find(p => p.Id == Id);

            // check if topVulnProjects already contains project
            bool alreadyContains = topVulnProjects.Any(p => p.ProjName == proj!.Name);
            if (alreadyContains)
            {
                continue;
            }

            var vulnCount = issues!
                .Where(i => 
                    i.SonarQubeProjectId == Id && 
                    i.Severity == severity && 
                    i.Type == "VULNERABILITY")
                .Count();

            return new ListItem()
            {
                ProjName = projects!.Find(p => p.Id == Id)!.Name,
                Severity = severity.ToLower(),
                VulnCount = vulnCount
            };
        }

        return null;
    }
}
