@using CodeHealthHub.Models

<div class="card-body">
    <h5 class="card-title">
        Unified Tech Debt
        <CardTooltip TooltipText="@tooltipText"/>
    </h5>
    <p class="card-text">
        @utd.ToString("0.0") hours<br />
        $@utdCost.ToString("0.00")
    </p>
</div>

@code {
    [Parameter]
    public List<ProjectScan> latestProjMeasures { get; set; } = new List<ProjectScan>();
    [Parameter]
    public List<SonarQubeProject> projects { get; set; } = new List<SonarQubeProject>();
    private double utd = 0.0;
    private double utdCost = 0.0;
    private string tooltipText = "Unified Technical Debt (UTD) represents the total estimated effort required to address all technical debt across projects, measured in hours. The associated cost is calculated based on the number of developers and their hourly rates.";

    protected override void OnParametersSet()
    {
        double tempUTD = 0.0;
        double tempUTDCost = 0.0;
        foreach(ProjectScan projMeasures in latestProjMeasures) // essentially per project
        {
            tempUTD += Utility.CalculateUTD(projMeasures);
            tempUTDCost += Utility.CalculateUTDCost(utd, projects.Find(p => p.Id == projMeasures.Id)!);
        }
        utd = tempUTD;
        utdCost = tempUTDCost;
    }

    @* protected double UTD(ProjectScan projMeasures)
    {
        double totalDebtMinutes = 0.0;

        foreach (Measure measure in projMeasures.Measures?? new List<Measure>())
        {
            if (measure.Metric == "sqale_index" || 
                measure.Metric == "reliability_remediation_effort" || 
                measure.Metric == "security_remediation_effort")
            {
                if (double.TryParse(measure.Value, out double debtMinutes))
                {
                    totalDebtMinutes += debtMinutes;
                }
            }
        }

        return totalDebtMinutes / 60.0; // convert to hours
    } *@

    @* protected double UTDCost(double utd, int projectId)
    {
        try
        {
            double hourlyRate = projects.Find(p => p.Id == projectId)!.DeveloperCostPerHour;
            double nEmployees = projects.Find(p => p.Id == projectId)!.NumOfDevelopers;
            return utd * hourlyRate * nEmployees ;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error calculating UTD Cost: {ex.Message}");
            return 0.0;
        }
    } *@
}
