@using CodeHealthHub.Models

<div class="card-body">
    <h4 class="card-title">Tech Debt</h4>
    <p class="card-text">
        Unified Tech Debt: @utd.ToString("0.0") hrs<br />
        Unified Tech Debt Cost: $@utdCost
    </p>
</div>

@code {
    [Parameter]
    public List<MeasureSearchResponseComponent> measureComponents { get; set; } = new List<MeasureSearchResponseComponent>();
    [Parameter]
    public List<SonarQubeProject> projects { get; set; } = new List<SonarQubeProject>();
    private double utd = 0.0;
    private double utdCost = 0.0;

    protected override void OnParametersSet()
    {
        foreach(MeasureSearchResponseComponent measureComponent in measureComponents) // essentially per project
        {
            utd += UTD(measureComponent);
            utdCost += UTDCost(utd, measureComponent.key);
        }
    }

    protected double UTD(MeasureSearchResponseComponent measureComponent)
    {
        double totalDebtMinutes = 0.0;

        foreach (Measure measure in measureComponent.measures)
        {
            if (measure.metric == "sqale_index" || 
                measure.metric == "reliability_remediation_effort" || 
                measure.metric == "security_remediation_effort")
            {
                if (double.TryParse(measure.value, out double debtMinutes))
                {
                    totalDebtMinutes += debtMinutes;
                }
            }
        }

        return totalDebtMinutes / 60.0; // convert to hours
    }

    protected double UTDCost(double utd, string projectKey)
    {
        try
        {
            double hourlyRate = projects.Find(p => p.Key == projectKey)!.DeveloperCostPerHour;
            double nEmployees = projects.Find(p => p.Key == projectKey)!.NumOfDevelopers;
            return utd * hourlyRate * nEmployees ;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error calculating UTD Cost: {ex.Message}");
            return -0.0;
        }
    }
}
