.header-container {
    margin-bottom: 20px;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px 5px gray;
}

::deep .card-text {
    font-size: 1.25em;
}

::deep .card-body p, ::deep .card-body {
    text-align: center;
}