@page "/"
@using CodeHealthHub.Models
@using System.Net.Http.Json
@rendermode InteractiveServer
@inject IHttpClientFactory HttpFactory
@inject NavigationManager navigationManager

<PageTitle>Dashboard</PageTitle>

<div class="header-container">
    <h1>Dashboard</h1>
    <hr />
</div>

<!-- Summary Cards -->
<div class="row mb-4">
    <div class="col">
        <div class="card">
            <HealthScoreCard allProjMeasures=@measureComponents weights=@projectWeights></HealthScoreCard>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <TechDebtCard allProjMeasures=@measureComponents projects=@projects></TechDebtCard>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <IssuesCard issuesCount=@issuesCount effortTotal=@effortTotal></IssuesCard>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Security</h4>
            </div>
        </div>
    </div>
</div>

<!-- Projects Table and Charts -->
<div class="row mb-4">
    <div class="col">
        <div class="card">
            <ProjectsTable projects=@projects></ProjectsTable>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col">
        <div class="card">
            <TestBarChart projects=@projects Issues=@issues></TestBarChart>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <IssuesPieChart Issues=@issues></IssuesPieChart>
        </div>
    </div>
</div>

@code {
    private List<SonarQubeProject>? projects = new List<SonarQubeProject>();
    private IssueSearchResponse? issueSearchResponse = new IssueSearchResponse();
    private List<Issue> issues = new List<Issue>();
    private List<double> projectWeights = new List<double>();
    private List<ProjectMeasures> measureComponents = new List<ProjectMeasures>();
    private int? issuesCount, effortTotal;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await GetProjects();
            await GetIssues();
            await GetMeasures();
        }
        catch (Exception e)
        {
            Debug.WriteLine(e);
            navigationManager.NavigateTo("/Error");
        }
    }

    protected async Task GetProjects() 
    {
        try 
        {
            var requestUri = "api/dashboard/projects";
            HttpClient httpClient = HttpFactory.CreateClient("LocalApi");
            projects = await httpClient.GetFromJsonAsync<List<SonarQubeProject>>(requestUri);
            if (projects != null)
            {
                projectWeights = (from project in projects select project.Weight).ToList();
                StateHasChanged();
            }
        }
        catch (Exception)
        {
            throw;
        }
    }

    protected async Task GetIssues()
    {
        try 
        {
            var requestUri = "api/dashboard/issues";
            HttpClient httpClient = HttpFactory.CreateClient("LocalApi");
            Debug.WriteLine($"Calling URL: {httpClient.BaseAddress}{requestUri}");
            issueSearchResponse = await httpClient.GetFromJsonAsync<IssueSearchResponse>(requestUri);
            if (issueSearchResponse != null)
            {
                issuesCount = issueSearchResponse.total;
                effortTotal = issueSearchResponse.effortTotal;
                issues = issueSearchResponse.issues;
                StateHasChanged();
            }
        }
        catch (Exception)
        {
            throw;
        }
    }

    protected async Task GetMeasures()
    {
        string? requestUri = "api/dashboard/measures";
        HttpClient httpClient = HttpFactory.CreateClient("LocalApi");
        Debug.WriteLine($"Calling URL: {httpClient.BaseAddress}{requestUri}");
        try 
        {
            List<ProjectMeasures>? measuresResponse = await httpClient.GetFromJsonAsync<List<ProjectMeasures>>(requestUri);
            if (measuresResponse != null)
            {
                measureComponents.AddRange(measuresResponse);
                StateHasChanged(); 
            }
        }
        catch (Exception)
        {
            throw;
        }
    }
}