@page "/"
@using CodeHealthHub.Models
@using System.Net.Http.Json
@rendermode InteractiveServer
@inject IHttpClientFactory HttpFactory
@inject NavigationManager navigationManager

<PageTitle>Home</PageTitle>

<h1>Dashboard</h1>

<!-- Summary Cards -->
<div class="row mb-4">
    <div class="col">
        <div class="card">
            <HealthScoreCard measureComponents=@measureComponents weights=@projectWeights></HealthScoreCard>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <IssuesCard issuesCount=@issuesCount effortTotal=@effortTotal></IssuesCard>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <TechDebtCard measureComponents=@measureComponents projects=@projects></TechDebtCard>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Security</h4>
            </div>
        </div>
    </div>
</div>

<!-- Projects Table and Charts -->
<div class="row mb-4">
    <div class="col">
        <div class="card">
            <ProjectsTable projects=@projects></ProjectsTable>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col">
        <div class="card">
            <TestBarChart Issues=@issues></TestBarChart>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <IssuesPieChart Issues=@issues></IssuesPieChart>
        </div>
    </div>
</div>

@code {
    private List<SonarQubeProject>? projects = new List<SonarQubeProject>();
    private IssueSearchResponse? issueSearchResponse = new IssueSearchResponse();
    private List<Issue> issues = new List<Issue>();
    private List<double> projectWeights = new List<double>();
    private List<MeasureSearchResponseComponent> measureComponents = new List<MeasureSearchResponseComponent>();
    private int? issuesCount, effortTotal;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await GetProjects();
            await GetIssues();
            await GetMeasures();
        }
        catch (Exception e)
        {
            Debug.WriteLine(e);
            navigationManager.NavigateTo("/Error");
        }
    }

    protected async Task GetProjects() 
    {
        try 
        {
            var requestUri = "api/dashboard/projects";
            HttpClient httpClient = HttpFactory.CreateClient("LocalApi");
            projects = await httpClient.GetFromJsonAsync<List<SonarQubeProject>>(requestUri);
            if (projects != null)
            {
                projectWeights = (from project in projects select project.Weight).ToList();
                StateHasChanged();
            }
        }
        catch (Exception)
        {
            throw;
        }
    }

    protected async Task GetIssues()
    {
        try 
        {
            var requestUri = "api/dashboard/issues";
            HttpClient httpClient = HttpFactory.CreateClient("LocalApi");
            Debug.WriteLine($"Calling URL: {httpClient.BaseAddress}{requestUri}");
            issueSearchResponse = await httpClient.GetFromJsonAsync<IssueSearchResponse>(requestUri);
            if (issueSearchResponse != null)
            {
                issuesCount = issueSearchResponse.total;
                effortTotal = issueSearchResponse.effortTotal;
                issues = issueSearchResponse.issues;
                StateHasChanged();
            }
        }
        catch (Exception)
        {
            throw;
        }
    }

    protected async Task GetMeasures()
    {
        string? requestUri = "api/dashboard/measures";
        HttpClient httpClient = HttpFactory.CreateClient("LocalApi");
        Debug.WriteLine($"Calling URL: {httpClient.BaseAddress}{requestUri}");
        try 
        {
            List<MeasureSearchResponseComponent>? measuresResponse = await httpClient.GetFromJsonAsync<List<MeasureSearchResponseComponent>>(requestUri);
            if (measuresResponse != null)
            {
                measureComponents.AddRange(measuresResponse);
                @* foreach(MeasureSearchResponseComponent measureComponent in measuresResponse)
                {
                    List<Measure> measureList = measureComponent.measures;
                    ProjectHealthScore phs = new ProjectHealthScore(){
                        Vulnerability = (int)float.Parse(measureList.Find(m => m.metric == "security_rating")?.value ?? "0.0"),
                        Bugs = (int)float.Parse(measureList.Find(m => m.metric == "reliability_rating")?.value ?? "0.0"),
                        CodeSmells = (int)float.Parse(measureList.Find(m => m.metric == "sqale_rating")?.value ?? "0.0"),
                        SecHotspots = (int)float.Parse(measureList.Find(m => m.metric == "security_review_rating")?.value ?? "0.0"),
                    };
                    allProjectHealthScores.Add(phs);
                }
                CalculateOverallHealthScore(allProjectHealthScores); *@
                StateHasChanged(); 
            }
        }
        catch (Exception)
        {
            throw;
        }
    }
}