@page "/"
@using CodeHealthHub.Models
@using CodeHealthHub.Models.ViewModels
@using CodeHealthHub.Models.JsonTypes
@using System.Net.Http.Json
@rendermode InteractiveServer
@inject IHttpClientFactory HttpFactory
@inject NavigationManager navigationManager

<PageTitle>Dashboard</PageTitle>

<div class="header-container">
    <h1>Dashboard</h1>
    <hr />
</div>

<!-- Summary Cards -->
<div class="row mb-4">
    <div class="col">
        <div class="card">
            <HealthScoreCard latestProjMeasures=@latestScansPerProj weights=@projectWeights></HealthScoreCard>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <TechDebtCard latestProjMeasures=@latestScansPerProj projects=@projects></TechDebtCard>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <IssuesCard issuesCount=@issuesCount effortTotal=@effortTotal></IssuesCard>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Security</h4>
            </div>
        </div>
    </div>
</div>

<!-- Projects Table and Charts -->
<div class="row mb-4">
    <div class="col">
        <div class="card">
            <ProjectsTable projects=@projects></ProjectsTable>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col">
        <div class="card">
            <ProjectIssueCountBarChart projects=@projects Issues=@issues></ProjectIssueCountBarChart>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <IssuesPieChart Issues=@issues piechartColours=@piechartColours></IssuesPieChart>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col">
        <div class="card">
            <TechDebtLineChart projects=@projects></TechDebtLineChart>
        </div>
    </div>
</div>


@code {
    private List<SonarQubeProject>? projects = new List<SonarQubeProject>();
    private List<PieChartColour> piechartColours = new List<PieChartColour>();
    private List<Issue> issues = new List<Issue>();
    private List<double> projectWeights = new List<double>();
    private List<ProjectScan> latestScansPerProj = new List<ProjectScan>();
    private int? issuesCount, effortTotal;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await GetProjects();
            await GetIssues();
            await GetMeasures();
            await GetPiechartColours();
            StateHasChanged(); 
        }
        catch (Exception e)
        {
            Debug.WriteLine(e);
            navigationManager.NavigateTo("/Error");
        }
    }

    protected async Task GetProjects() 
    {
        try 
        {
            var requestUri = "api/dashboard/projects";
            HttpClient httpClient = HttpFactory.CreateClient("LocalApi");
            projects = await httpClient.GetFromJsonAsync<List<SonarQubeProject>>(requestUri);
            if (projects != null)
            {
                projectWeights = (from project in projects select project.Weight).ToList();
            }
        }
        catch (Exception)
        {
            throw;
        }
    }

    protected async Task GetIssues()
    {
        IssueSearchResponse? issueSearchResponse;
        try 
        {
            var requestUri = "api/dashboard/issues";
            HttpClient httpClient = HttpFactory.CreateClient("LocalApi");
            Debug.WriteLine($"Calling URL: {httpClient.BaseAddress}{requestUri}");
            issueSearchResponse = await httpClient.GetFromJsonAsync<IssueSearchResponse>(requestUri);
            if (issueSearchResponse != null)
            {
                issuesCount = issueSearchResponse.Total;
                effortTotal = issueSearchResponse.EffortTotal;
                issues = issueSearchResponse.Issues;
            }
        }
        catch (Exception)
        {
            throw;
        }
    }

    protected async Task GetMeasures()
    {
        string? requestUri = "api/dashboard/measures";
        HttpClient httpClient = HttpFactory.CreateClient("LocalApi");
        Debug.WriteLine($"Calling URL: {httpClient.BaseAddress}{requestUri}");
        try 
        {
            var response = await httpClient.GetAsync(requestUri);
            if (response.IsSuccessStatusCode)
            {
                List<ProjectScan>? measuresResponse = await response.Content.ReadFromJsonAsync<List<ProjectScan>>();
                if (measuresResponse != null)
                {
                    latestScansPerProj.AddRange(measuresResponse);
                }
            }
            else
            {
                Debug.WriteLine($"Error fetching measures: {response.ReasonPhrase}");
            }
        }
        catch (Exception)
        {
            throw;
        }
    }

    protected async Task GetPiechartColours()
    {
        try
        {
            // Load existing color settings from a database if applicable
            var getColoursURL = "api/dashboard/piechart-colours";
            var client = HttpFactory.CreateClient("LocalApi");
            List<PieChartColour>? response = await client.GetFromJsonAsync<List<PieChartColour>>(getColoursURL);
            if (response != null)
            {
                Debug.WriteLine("Dashboard: fetched piechart colours successfully");
                piechartColours = response;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching colour settings: {ex.Message}");
            @* navigationManager.NavigateTo("/Error"); *@
        }
    }
}