@page "/instances"
@using CodeHealthHub.Models
@rendermode InteractiveServer
@inject IHttpClientFactory HttpFactory
@inject NavigationManager navigationManager

<PageTitle>Instances Management</PageTitle>

<div class="mb-4">
    <h1>Manage SonarQube Instances</h1>
    <p>This is the SonarQube instances management page. Here you can add, edit or remove instances.</p>
    <hr />
</div>

<div class="row d-flex justify-content-center">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <div class="col text-end">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddInstanceModal" @onclick="() => ClearInstance()">Add</button>
                </div>
                
                @if (instances.Any())
                {
                    <table class="table w-100 text-center">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>URL</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(int i = 0; i < instances.Count; i++)
                            {
                                var instance = instances[i];
                                <tr>
                                    <td>@instance.Name</td>
                                    <td>@URLs.ElementAt(i)</td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#AddInstanceModal" @onclick="() => EditInstance(instance)">Edit</button>
                                        <button type="button" class="btn btn-sm btn-danger" @onclick="() => DeleteInstance(instance.Id)">Delete</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
                        <strong>No instances found.</strong>
                    </div>
                }
                
                <!-- Modal -->
                <div class="modal fade" id="AddInstanceModal" tabindex="-1" aria-label="AddInstanceModal">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <AddInstanceForm Instance="selectedInstance"></AddInstanceForm>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    public required HttpClient _httpClient;
    List<SonarQubeInstance> instances = new List<SonarQubeInstance>();
    List<string> URLs = new List<string>();
    SonarQubeInstance? selectedInstance { get; set; } = null;

    protected override void OnInitialized()
    {
        _httpClient = HttpFactory.CreateClient("LocalApi");
    }

    protected override async Task OnInitializedAsync()
    {
        var allInstancesURL = "api/instances/all";
        var client = HttpFactory.CreateClient("LocalApi");
        try
        {
            instances = await client.GetFromJsonAsync<List<SonarQubeInstance>>(allInstancesURL) ?? new List<SonarQubeInstance>();
            
            if (instances.Count == 0) 
                return;
            
            foreach(var instance in instances)
            {
                URLs.Add(
                    new UriBuilder()
                    {
                        Scheme = instance.Scheme,
                        Host = instance.Host,
                        Port = instance.Port,
                    }.Uri.ToString()
                );
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching instances: {ex.Message}");
            navigationManager.NavigateTo("/Error");
        }
    }

    void EditInstance(SonarQubeInstance instance)
    {
        selectedInstance = instance;
    }

    void ClearInstance()
    {
        selectedInstance = null;
    }

    protected async Task DeleteInstance(int Id) 
    {
        try
        {
            string requestUri = $"api/instances/{Id}";
            Debug.WriteLine($"Calling URL: {_httpClient.BaseAddress}{requestUri}");
            HttpResponseMessage response = await _httpClient.DeleteAsync(requestUri);
            if (response.IsSuccessStatusCode)
            {
                instances = instances.Where(i => i.Id != Id).ToList();
            }
            else
            {
                Debug.WriteLine("Error deleting instance: " + response.ReasonPhrase);
            }
        }
        catch (Exception e)
        {
            Debug.WriteLine($"Exception when calling DeleteInstance(): {e}");
            navigationManager.NavigateTo("/Error");
        }
    }
}