@page "/sonarqubeapi"
@using System
@using System.Net
@using Microsoft.AspNetCore.Mvc
@using Newtonsoft.Json
@using Plotly.Blazor.Traces.SurfaceLib.ContoursLib.XLib
@using Plotly.Blazor.Traces.TableLib
@using Models
@using System.Diagnostics
@using System.Diagnostics.CodeAnalysis
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<h3>SonarQube API calls</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg mb-4">
            <label>All Projects</label>
            <textarea @bind="allProjects" class="form-control" rows="6" readonly></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <label>Deserialized Measures</label>
            <textarea @bind="deserializedMeasures" class="form-control" rows="6" readonly></textarea>
        </div>
        <div class="col-sm">
            <label>Issues</label>
            <textarea @bind="issuesResult" class="form-control" rows="6" readonly></textarea>
            <label>QualityGates</label>
            <textarea @bind="qualgateResult" class="form-control" rows="6" readonly></textarea>
        </div>
    </div>
</div>


@code {
    string? measuresResult, deserializedMeasures, issuesResult, allProjects, qualgateResult;
    const string authHeader = "Authorization";
    const string bearerToken = "Bearer squ_052b04877133168f98afcc452f59b42cf79c0d54";
    @* const string bearerToken = "Bearer squ_50af2bff81e532e8efa21cdee2cb797858907906"; *@

    HttpClient client = new HttpClient();
    List<string> projectKeys = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        getProjects();
        getAllMeasures();
        getIssues();
        getQualityGates(projectKeys[0]);
    }

    protected UriBuilder formURIBuilder() {
        UriBuilder builder = new UriBuilder();
        builder.Scheme = "http";
        builder.Host = "localhost";
        builder.Port = 9000;
        return builder;
    }

    protected string makeRequest(HttpRequestMessage request) {
        try {
            request.Headers.Add(authHeader, bearerToken);
            HttpResponseMessage? response = client.Send(request);
            if (response.IsSuccessStatusCode)
            {
                Task<string>? content = response.Content.ReadAsStringAsync();
                return content.Result;
            }
            return "";
        }
        catch (Exception e) {
            System.Diagnostics.Debug.WriteLine(e);
            NavigationManager.NavigateTo("/Error");
            return "";
        }
    }

    protected void getProjects() {
        allProjects = "";

        UriBuilder? builder = formURIBuilder();
        builder.Path = "/api/projects/search";
        Uri? url = builder.Uri;

        HttpRequestMessage request = new HttpRequestMessage(HttpMethod.Get, url);

        ProjectSearchResponse? response = JsonConvert.DeserializeObject<ProjectSearchResponse>(makeRequest(request));

        List<SonarQubeProject>? projects = response?.Components;
        
        if (projects == null) {
            Debug.WriteLine("No projects found.");
            return;
        }
        else {
            foreach(SonarQubeProject proj in projects) {
                projectKeys.Add(proj.Key);
                allProjects += "Key: " + proj.Key + " Name: " + proj.Name + "\n";
            }
        }
    }

    protected void getAllMeasures() {
        measuresResult = "";

        foreach(string key in projectKeys) {
            getMeasures(key);
        }
    }

    protected void getMeasures(string projectKey) {
        UriBuilder? builder = formURIBuilder();
        builder.Path = "/api/measures/component";
        builder.Query = $"metricKeys=ncloc,coverage,bugs,vulnerabilities,code_smells&component={projectKey}";
        Uri? url = builder.Uri;

        HttpRequestMessage? request = new HttpRequestMessage(HttpMethod.Get, url);
        string res = makeRequest(request);
        MeasureSearchResponse? measureSearchResponse = JsonConvert.DeserializeObject<MeasureSearchResponse>(res);

        if (measureSearchResponse != null) 
        {
            foreach(Measure measure in measureSearchResponse.component.measures)
            {
                deserializedMeasures += $"Metric: {measure.metric}    Value: {measure.value}\n";
            }
        }
    }

    protected void getIssues() {
        UriBuilder? builder = formURIBuilder();
        builder.Path = "/api/issues/search";
        @* builder.Query = $"projectKeys={projectKey}"; // don't specify project key to get all issues *@
        Uri? url = builder.Uri;

        HttpRequestMessage? request = new HttpRequestMessage(HttpMethod.Get, url);
        IssueSearchResponse? response = JsonConvert.DeserializeObject<IssueSearchResponse>(makeRequest(request));

        if (response != null)
        {
            issuesResult += $"Total issues: {response.total}\n";
            issuesResult += $"Effort total: {response.effortTotal}\n\n";
            foreach(Issue issue in response.issues) 
            {
                issuesResult += $"Key: {issue.key}\n";
                issuesResult += $"Project: {issue.project}\n";
                issuesResult += $"Severity: {issue.severity}\n";
                issuesResult += $"Effort: {issue.effort}\n";
                issuesResult += $"Debt: {issue.debt}\n";
                issuesResult += $"Type: {issue.type}\n";
                issuesResult += $"Status: {issue.status}\n\n";
            }
        }
    }

    protected void getQualityGates(string projectKey) {
        UriBuilder? builder = formURIBuilder();
        builder.Path = "/api/qualitygates/project_status";
        builder.Query = $"projectKey={projectKey}";
        Uri? url = builder.Uri;

        HttpRequestMessage? request = new HttpRequestMessage(HttpMethod.Get, url);

        object? response = JsonConvert.DeserializeObject(makeRequest(request));

        qualgateResult += response?.ToString();
    }
}
